@media (min-width: 360px) and (max-width: 480px) {
    .modules {
        display: grid;
        grid-template-columns: 1fr;
    }

}

@media (min-width: 360px) and (max-width: 991px) {
 .nav {
    display: none;
 }
}